auto-save-list
backups
el-get
el-get-legacy
el-get-user
elpa
eshell/history
eshell/lastdir
themes
url
abbrev_defs
ac-comphist.dat
cider-repl-history
company-statistics-cache.el~
*.data
ido.last
places
smex-items
tramp



